.page-link {
  border: none !important;
  color: #000 !important;
}

.page-item.active .page-link {
  background-color: map-get($colors, accent);
  border-color: map-get($colors, accent);
  color: #fff !important;
}
